org: fatimapv  # Actualiza con tu organizaci칩n
service: api-web-scraping-sismos

provider:
  name: aws
  runtime: python3.13
  memorySize: 2048  # Playwright necesita m치s memoria
  timeout: 60  # M치s tiempo para cargar la p치gina
  iam:
    role: arn:aws:iam::076456812464:role/LabRole  # Actualiza con tu ARN
  ecr:
    images:
      scraping-sismos:
        path: ./

functions:
  scrape_sismos:
    image:
      name: scraping-sismos
    events:
      - http:
          path: /scrape/sismos
          method: get
          cors: true

resources:
  Resources:
    TablaSismosIGP:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: TablaSismosIGP
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST